.container {
  /* text-align: center; */
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: .3rem;
  background-color: #fff;

}

.selectedImageContainer {
  width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
  max-width: 60rem; /* Máximo ancho para mantener consistencia */
  height: 40rem; /* Altura fija para evitar cambios de tamaño */
  margin-bottom: 2rem;
  overflow: hidden; /* Oculta las partes de la imagen que sobresalgan */
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Se adapta al contenedor, recortando si es necesario */
  border-radius: .3rem;
}

.thumbnailContainer {
  max-width: 60rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.thumbnail {
  width: 8rem;
  height: 10rem; /* Fija el tamaño de las miniaturas */
  object-fit: cover; /* Evita deformaciones en las miniaturas */
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 0.2rem;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.selectedThumbnail {
  border: .2rem solid var(--main-color);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .selectedImageContainer {
    height: 25rem; /* Altura fija para pantallas pequeñas */
    margin-bottom: 1rem;
  }

  .selectedImage {
    object-fit: cover; /* Mantiene el ajuste en pantallas pequeñas */
  }

  .thumbnailContainer {
    gap: 0.5rem;
  }

  .thumbnail {
    width: 5rem; /* Miniaturas más pequeñas en dispositivos móviles */
    height: 5rem; /* Asegura proporciones cuadradas */
  }
}
