.container {
  /* text-align: center; */
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: .3rem;
  background-color: #fff;
}

.selectedImageContainer {
  margin-bottom: 2rem;
}

.selectedImage {
  width: 100%;
  max-width: 60rem;
  height: auto;
  border-radius: .3rem;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.thumbnail {
  width: 10rem;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.selectedThumbnail {
  border: .2rem solid var(--main-color);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .selectedImageContainer {
    margin-bottom: 1rem;
  }

  .selectedImage {
    max-width: 100%;
  }

  .thumbnailContainer {
    gap: 0.5rem;
  }

  .thumbnail {
    width: 5rem; /* Reducido para pantallas pequeñas */
  }
}