.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap; /* Permite que los filtros se ajusten en pantallas más pequeñas */
  justify-content: space-between; /* Para que los filtros se distribuyan mejor */
  width: 100%;
}

.divFilter {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  min-width: 150px; /* Asegura que los elementos no sean demasiado pequeños */
}

.divFilter select,
.divFilter input {
  border-radius: .3rem;
  border: 1px solid #333;
  padding: .5rem;
  font-size: 1rem;
  width: 100%; /* Asegura que los inputs ocupen todo el espacio disponible */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia los filtros a columnas en pantallas más pequeñas */
    gap: 1rem;
  }
}
