.container {
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.container h3 {
  font-size: 2.4rem;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.divGroupFour {
  display: flex;
  gap: 2rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 25%;
}

.formGroup label {
  font-size: 1.2rem;
  color: #333;
}

.formGroup select {
  padding: 0.8rem 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.3rem;
}

.formGroup input {
  padding: 0.8rem 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.3rem;
}

.formGroup button {
  padding: 0.8rem 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.3rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.formGroup button:hover {
  background-color: #444;
}

.divGroupThree {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.comment {
  width: 100%;
  padding: .2rem 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment p {
  font-size: 1.2rem;
  color: #333;
}

.comment button {
  padding: 0.8rem 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.3rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.divBtnSubmit {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.divBtnSubmit button {
  padding: 0.8rem 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.3rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
}

.divBtnSubmit button:hover {
  background-color: #444;
}

.error {
  color: #f44336;
}