.container {
}

.divTitle {
  background-color: var(--second-bg-color);
  height: 20rem;
}

.divTitle h2 {
  font-size: 4rem;
  color: var(--second-color);
  text-align: center;
  padding-top: 12rem;
}

.description {
  padding: 10rem 5rem;
}

.description h3 {
  font-size: 4rem;
  color: var(--second-bg-color);
  margin-bottom: 2rem;
  text-align: center;
}

.description p {
  font-size: 2rem;
  color: var(--text-color);
  line-height: 2.5rem;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
  gap: 2rem;
  align-items: center;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .divTitle {
    height: auto; /* Ajustar la altura automáticamente en móviles */
    padding: 5rem 0; /* Reducir padding en móviles */
  }

  .divTitle h2 {
    font-size: 2.5rem; /* Reducir tamaño del título */
    padding-top: 0; /* Eliminar padding superior */
  }

  .description {
    padding: 5rem 2rem; /* Reducir padding */
  }

  .description h3 {
    font-size: 2.5rem; /* Reducir tamaño del subtítulo */
  }

  .description p {
    font-size: 1.6rem; /* Reducir tamaño del texto */
    line-height: 2rem; /* Reducir el espaciado entre líneas */
  }

  .cardsContainer {
    gap: 1.5rem; /* Reducir el espacio entre las tarjetas */
    padding-bottom: 5rem; /* Reducir el padding inferior */
  }
}
