* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;
  
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #08223c;
  --dark-color: #0F1422;
  /* --text-color: #ededed; */
  --text-color: rgb(87, 87, 87);
  --main-color: rgb(102, 102, 102);
  --second-color: #0085b8;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
