* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: 'PT Sans Narrow', sans-serif; */
  font-family: "Open Sans", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #49525c;
  --dark-color: #0F1422;
  --text-color: #69717a;
  /* --main-color: #5a4937; */
  --main-color: #6f67b3;
  /* --second-color: #bba376; */
  --second-color: #aab8c7;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
