.container {
  background-image: url('../../assets/elduelo.png');
  background-size: cover;
  background-position: center;
}

.divTitle {
  background-color: var(--second-bg-color);
  height: 10rem !important;
}

.divTitle h2 {
  font-size: 4rem;
  color: var(--second-color);
  text-align: center;
  padding-top: 5rem !important;
}

.description {
  padding: 10rem 5rem;
}

.description h3 {
  font-size: 4rem;
  color: var(--second-bg-color);
  margin-bottom: 2rem;
  text-align: center;
}

.description p {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  line-height: 2.5rem;
}

.divMourning {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
}

.divMourning h3 {
  font-size: 3rem;
  color: var(--second-bg-color);
  margin-bottom: 2rem;
}

.divStages {
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.8);
  border-radius: .3rem;
  width: 60%;
}

.stage {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-bottom: .1rem solid var(--second-bg-color);
}

.stage5 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.stage h4 {
  font-size: 2.5rem;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.stage p {
  font-size: 2rem;
  color: var(--text-color);
  line-height: 2.5rem;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .divTitle {
    height: auto;
    padding: 5rem 2rem;
  }

  .divTitle h2 {
    font-size: 4rem;
    color: var(--second-color);
    text-align: center;
    padding-top: 0rem !important;
  }

  .description {
    padding: 5rem 2rem;
  }

  .description p {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .divMourning h3 {
    font-size: 2.5rem;
  }

  .divStages {
    padding: 3rem 2rem;
    width: 90%; /* Ajuste del ancho al 90% en pantallas móviles */
  }

  .stage {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }

  .stage h4 {
    font-size: 2rem;
  }

  .stage p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
