.container {
}

.container h3 {
  font-size: 4rem;
  color: var(--second-bg-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

.divBenefits {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.benefit {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* width: 80%; */
}

.icon {
  font-size: 5rem;
  color: var(--main-color);
  margin-right: 1rem;
  width: 20%;
  flex-shrink: 0;
}

.benefit p {
  font-size: 2rem;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .container h3 {
    font-size: 3rem;
  }

  .divBenefits {

  }

  .benefit {
    gap: 0rem;
  }

  .icon {
    font-size: 3rem;
  }

  .benefit p {
    font-size: 2rem;
  }
}