.sideBar {
  position: fixed;
  background-color: var(--second-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  gap: 2rem;
  width: 12rem;
  transition: width 0.3s ease-in-out;
}

/* Estilo para los íconos y los textos */
.divIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.divIcon p {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--bg-color);
  text-align: center;
}

.icon {
  font-size: 2.5rem;
  color: var(--bg-color);
}

/* Responsive para pantallas pequeñas (celulares) */
@media (max-width: 768px) {
  .sideBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
  }

  .divIcon {
    flex-direction: column;
  }

  .divIcon p {
    display: none; /* Ocultamos los textos en celulares */
  }

  .icon {
    font-size: 2rem; /* Reducimos el tamaño de los íconos en celulares */
  }
}

/* Responsive para pantallas medianas (MacBook) */
@media (min-width: 769px) and (max-width: 1024px) {
  .sideBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem;
  }

  .divIcon p {
    font-size: 1.2rem;
  }

  .icon {
    font-size: 2.2rem;
  }
}
