.container {
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.container h3 {
  font-size: 2.4rem;
  color: #333;
}

.form {
}

.divForm {
  display: flex;
  gap: 2rem;
}

.divNamePriceDis {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.divNamePrice {
  display: flex;
  gap: 1rem;
}

.divNamePrice .divInput {
  width: 50%;
}

.divInput {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.divInput label {
  font-size: 1.5rem;
  color: #333;
}

.divInput input {
  padding: 0.8rem 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.3rem;
}

.divInput textarea {
  padding: 0.8rem 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.3rem;
  resize: none;
  height: 9rem;
}

.divBtn {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
  justify-content: center;
}