.container {
  /* background-color: black; */
  position: fixed;
  /* position: sticky; */
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10rem;
  padding: 1rem 9%;
  /* background: transparent; */
  background: rgba(73, 82, 92, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
  z-index: 10;
}

.scrolled {
  background-color: rgba(73, 82, 92, 0.95);
}

.logo {
  cursor: pointer;
  background-color: var(--second-color);
  width: 20rem;
  height: auto;
}

.divNav {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 2rem;
  padding: 0rem 3.5rem;
  align-items: center;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--second-color);
  font-weight: 500;
  /* margin-left: 3.5rem; */
  /* gap: 3.5rem; */
  transition: .3s;
  position: relative;
  opacity: 0.9;
}

.navbar a:hover {
  opacity: 1;
}

.navbar a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .2rem;
  /* background: #ffffff; */
  background:var(--second-color);
  transition: all 0.45s;
}

.navbar a:hover::before {
  width: 100%;
}

.navToggle {
  /* font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer; */
  display: none;
}

.icon {
  color: var(--text-color);
  font-size: 2.5rem;
  cursor: pointer;
}

.btnQuote {
  padding: 1rem 2rem;
  font-size: 1.7rem;
  border: .1rem solid var(--second-color);
  border-radius: .3rem;
  cursor: pointer;
  transition: all 0.3s;
  background: linear-gradient(to right, var(--second-bg-color) 50%, var(--second-color) 50%);
  box-shadow: inset 0 0 0 .1rem var(--second-color);
  background-size: 200% 100%;
  color: var(--second-color);
}

.btnQuote:hover {
  background-position: -100% 0;
  transition: .5s;
  color: var(--second-bg-color);
}

@media (max-width: 768px) {
  /* .navbar {
    position: absolute;
    display: none;
    top: 5rem;
    flex-direction: column;
    background: var(--second-bg-color);
    left: 0;
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }  */

  .navToggle {
    display: flex;
    /* display: block; */
  }

  .btnMenu {
    color: var(--text-color);
    font-size: 2.5rem;
    position: relative;
  }

  .navToggle i {
    position: relative;
  }
  /* puede no ser necesario */

  /* .open {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  .navbar {
    position: absolute;
    top: 10rem;
    right: 0;
    flex-direction: column;
    /* background: var(--second-bg-color); */
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    transform: translateX(100%);
    /* transition: transform 0.5s ease; */
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
    padding: 2rem 0;
  }
  
  .open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}