/* Estilos generales para el container */
.container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10rem;
  padding: 1rem 9%;
  background: rgba(73, 82, 92, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  z-index: 10;
}

/* Estilo del header cuando está scrolleado */
.scrolled {
  background-color: rgba(73, 82, 92, 0.95);
}

/* Estilos para el logo */
.logo {
  cursor: pointer;
  /* background-color: var(--second-color); */
  width: 12rem;
  height: auto;
}

/* Estilos para el contenedor del menú */
.divNav {
  display: flex;
  align-items: center;
}

/* Navbar: estilos para los enlaces del menú */
.navbar {
  display: flex;
  gap: 2rem;
  padding: 0rem 3.5rem;
  align-items: center;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--second-color);
  font-weight: 500;
  transition: 0.3s;
  position: relative;
  opacity: 0.9;
}

.navbar a:hover {
  opacity: 1;
}

.navbar a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.2rem;
  background: var(--second-color);
  transition: all 0.45s;
}

.navbar a:hover::before {
  width: 100%;
}

/* Toggle del menú hamburguesa para pantallas móviles */
.navToggle {
  display: none;
}

/* Botón para solicitar presupuesto */
.btnQuote {
  padding: 1rem 2rem;
  font-size: 1.7rem;
  border: 0.1rem solid var(--second-color);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
  background: linear-gradient(to right, var(--second-bg-color) 50%, var(--second-color) 50%);
  box-shadow: inset 0 0 0 0.1rem var(--second-color);
  background-size: 200% 100%;
  color: var(--second-color);
}

.btnQuote:hover {
  background-position: -100% 0;
  transition: 0.5s;
  color: var(--second-bg-color);
}

/* Estilos para los botones de idioma */
.languageSwitcher {
  display: flex;
  /* gap: 1rem; */
}

.languageButton {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: 0.1rem solid var(--second-color);
  /* border-radius: 0.3rem; */
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--second-color);
  transition: all 0.3s;
}

.languageButtonEn {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: 0.1rem solid var(--second-color);
  /* border-radius: 0.3rem; */
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--second-color);
  transition: all 0.3s;
}

.languageButton:hover {
  background-color: var(--second-color);
  color: var(--second-bg-color);
}

.languageButtonEn:hover {
  background-color: var(--second-color);
  color: var(--second-bg-color);
}

.languageButton.active {
  background-color: var(--second-color);
  color: var(--second-bg-color);
  font-weight: bold;
}

.languageButtonEn.active {
  background-color: var(--second-color);
  color: var(--second-bg-color);
  font-weight: bold;
}

.divPhone p {
  color: var(--second-color);
  font-size: 1.5rem;
  font-weight: 500;
}

/* Responsive para MacBook de 14 y 15 pulgadas */
@media (max-width: 1440px) {
  .container {
    padding: 1rem 7%;
  }

  .logo {
    width: 12rem;
  }

  .navbar a {
    font-size: 1.6rem;
  }

  .btnQuote {
    font-size: 1.6rem;
    padding: 0.8rem 1.8rem;
  }

  .languageButton {
    font-size: 1.4rem;
    padding: 0.4rem 0.8rem;
  }
}

/* Responsive para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
    min-height: 7rem;
  }

  .logo {
    width: 10rem;
  }

  .navToggle {
    display: flex;
  }

  .btnMenu {
    color: var(--text-color);
    font-size: 2.5rem;
    position: relative;
  }

  .navToggle i {
    position: relative;
  }

  .navbar {
    position: absolute;
    top: 8.2rem;
    right: 0;
    flex-direction: column;
    background: rgba(73, 82, 92, 0.95);
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
    padding: 2rem 0;
  }

  .open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .navbar a {
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  .languageButton {
    font-size: 1.3rem;
    padding: 0.5rem;
  }

  .btnQuote {
    font-size: 1.4rem;
  }
}
