.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  gap: 2rem;
}

.container h3 {
  font-size: 3rem;
}

.container p {
  font-size: 1.7rem;
}

.container button {
  padding: 1rem 2rem;
  font-size: 1.7rem;
  border: .1rem solid var(--second-color);
  border-radius: .3rem;
  cursor: pointer;
  transition: all 0.3s;
  background: linear-gradient(to right, var(--second-bg-color) 50%, var(--second-color) 50%);
  box-shadow: inset 0 0 0 .1rem var(--second-color);
  background-size: 200% 100%;
  color: var(--second-color);
}

.container button:hover {
  background-position: -100% 0;
  transition: .5s;
  color: var(--second-bg-color);
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .container {
    padding: 3rem 1rem; /* Reducir padding en móviles */
    gap: 1.5rem; /* Reducir la brecha entre elementos */
  }

  .container h3 {
    font-size: 2.5rem; /* Reducir tamaño del título en móviles */
    text-align: center; /* Asegurar que el título esté centrado */
  }

  .container p {
    font-size: 1.6rem; /* Ajustar el tamaño del texto */
    text-align: center; /* Centrar el párrafo */
    padding: 0 1rem; /* Agregar algo de padding lateral en móviles */
  }

  .container button {
    font-size: 1.6rem; /* Ajustar el tamaño del botón */
    padding: 0.8rem 1.5rem; /* Reducir el padding del botón en móviles */
  }
}
